
services:
  - type: web
    name: rainguard-bot
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: CHAT_ID
        sync: false
      - key: API_KEY
        sync: false
      - key: NODE_VERSION
        value: 18.0.0
